# Python programming for beginners
anton.kichev@clarivate.com

## Agenda
1. Background, why Python, installation, IDE, setup
2. Variables, Boolean, None, numbers (integers, floating point), check type
3. List, Set, Dictionary, Tuple
4. Text and regular expressions
5. Functions and objects
6. Conditions, loops, iterators, special functions (range, enumerate, zip)
7. I/O working with files, working directory, projects
8. Packages, pip, selected packages (xmltodict, biopython, xlwings, pyautogui, sqlalchemy, cx_Oracle, pandas)
9. Pandas
10. Errors and debugging (try, except)

## What is a Programming language?
![images/image1.png](images/image1.png)

## Why Python

### Advantages:
* Opensource/ free
* Easy to learn
* Old
* Popular
* All purpose
* Simple syntaxis
* High level
* Scripting
* Dynamically typed

### Disadvantages:
* Old
* Dynamically typed
* Inconsistent development

## Installation

[Python](http://python.org/)

[Anaconda](https://www.anaconda.com/products/individual)

## Integrated Development Environment (IDE)
* IDLE – comes with Python
* [Jupiter notebook](https://jupyter.org/install)
* [google colab](https://colab.research.google.com/notebooks/basic_features_overview.ipynb#scrollTo=KR921S_OQSHG)
* Spyder – comes with Anaconda
* [Visual Studio Code](https://code.visualstudio.com/)
* [PyCharm community](https://www.jetbrains.com/toolbox-app/)

## Python files
Python files are text files with .py extension
### Comments
Comments are pieces of code that are not going to be executed. In python everything after hashtag (#) on the same line is comment.
Comments are used to describe code: what is this particular piece of code doing and why you have created it.

In [1]:
# this is a comment it will be ignored when running the python file

## Variables
Assigning value to a variable

In [2]:
my_variable = 1
print(my_variable)

1

### Naming variables
Variable names cannot start with the number, cannot contain special characters or space except _
* variable1 -> <font color=green>this is OK</font>
* 1variable -> <font color=red>this is not OK</font>
* Important-variable! -> <font color=red>this is not OK</font>
* myVariable -> <font color=green>this is OK</font>
* my_variable -> <font color=green>this is OK</font>

### Numbers
#### 1. integers (whole numbers)

In [3]:
var2 = 2
my_variable + var2

3

we can assign the result to another variable

In [4]:
result = my_variable + var2
print(result)

3

#### 2. Doubles (floating point number)

In [5]:
double = 2.05
print(double)

2.05

 #### Mathematical operations
<font color= #00B19C>- Additon and substraction</font>

In [6]:
2 + 3

5

In [7]:
5 - 2

3

<font color= #00B19C>- Multiplication and division</font>

In [8]:
2 * 3

6

In [9]:
6 / 2

3.0

<font color=red>Note: the result of division is float not int!</font>

<font color= #00B19C>- Exponential</font>

In [10]:
2 ** 4
# 2**4 is equal to 2*2*2*2

16

<font color= #00B19C>- Floor division</font>

In [11]:
7 // 3

2

7/3 is 2.3333 the floor division is giving the whole number 2 (how many times you can fit 3 in 7)

<font color= #00B19C>- Modulo</font>

In [12]:
7 % 3

1

7//3 is 2, modulo is giving the remainder of the operation (what is left when you fit 2 times 3 in 7 ; 7 =2*3 + 1)
<font color= red>Note: Floor division and modulo results are inegers if integers are used as arguments and float if one of the arguments is float</font>

### Special variables
#### 1. None
None means variable without data type, nothing

In [13]:
var = None
print(var)

None

#### 2. Bolean
<font color= red>Note: Bolean is type of integer that can take only values of 0 or 1</font>

In [14]:
var = True # or 1
var2 = False # or 0
print(var)
print(var+1)

True
2

### Check variable type
#### 1. type() function

In [15]:
print(type(True))
print(type(1))

<class 'bool'>
<class 'int'>

#### 2. isinstance() function

In [16]:
print(isinstance(True, bool))
print(isinstance(True, int))
print(isinstance(1, bool))

True
True
False

## Comparing variables

In [82]:
print(1 == 1)
print(1 == 2)
print(1 != 2)
print(1 < 2)
print(1 > 2)

True
False
True
True
False

In [88]:
my_variable = None
print(my_variable == None)
print(my_variable is None)
my_variable = 1.5
print(my_variable == 1.5)
print(my_variable is 1.5)
print(my_variable is not None)

True
True
True
False
True

<font color= red>Note as a general rule of thumb use "is" "is not" when checking if variable is **None**, **True** or **False** in all other cases use "=="</format>

### Converting Int to Float and vs versa
#### 1. float() function

In [17]:
float(3)

3.0

#### 2. int() function
<font color= red>Note the int() conversion is taking in to account only the whole number int(2.9) = 2!</font>

In [18]:
int(2.9)

2

## Tuple
tuple is a collection which is ordered and unchangeable.

In [19]:
my_tuple = (3, 8, 5, 7, 5)

access tuple items by index 
<font color= red>Note Python is 0 indensing language = it starts to count from 0!</font>

![images/image3.png](images/image3.png)

In [20]:
print(my_tuple[1])
print(my_tuple[2:4])
print(my_tuple[2:])
print(my_tuple[:2])
print(my_tuple[-1])
print(my_tuple[::2])
print(my_tuple[1::2])
print(my_tuple[::-1])
print(my_tuple[-2::])

8
(5, 7)
(5, 7, 5)
(3, 8)
5
(3, 5, 5)
(8, 7)
(5, 7, 5, 8, 3)
(7, 5)

### Tuple methods
Methods are functions inside an object (every variable in Python is an object)
#### 1.count() method - Counts number of occurrences of item in a tuple

In [21]:
my_tuple.count(5)

2

#### 2.index() method - Returns the index of first occurence of an item in a tuple

In [22]:
my_tuple.index(7)

3

#### Other operations with tuples
Adding tuples

In [23]:
my_tuple + (7, 2, 1)

(3, 8, 5, 7, 5, 7, 2, 1)

Nested tuples = tuples containing tuples

In [24]:
tuple_of_tuples = ((1,2,3),(3,4,5))

In [25]:
print(tuple_of_tuples)
print(tuple_of_tuples[0])
print(tuple_of_tuples[1][2])

((1, 2, 3), (3, 4, 5))
(1, 2, 3)
5

## List
List is a collection which is ordered and changeable.

In [26]:
my_list = [3, 8, 5, 7, 5]

Accesing list members is exactly the same as accesing tuple members, .count() and .index() methods work the same way with lists.

The difference is that list members can be changed

In [27]:
my_list[1] = 9
print(my_list)

[3, 9, 5, 7, 5]

In [28]:
my_tuple[1] = 9

TypeError: 'tuple' object does not support item assignment

Lists are having more methods than tuples

#### 1.count() method 
same as with tuple
#### 2.index() method
same as with tuple
#### 3.reverse() method
inverting the list same as my_list[::-1]

In [29]:
my_list.reverse()
print(my_list)
my_list = my_list[::-1]
print(my_list)

[5, 7, 5, 9, 3]
[3, 9, 5, 7, 5]

#### 4.sort() method
sorting the list from smallest to largest or alphabetically in case of text

In [30]:
my_list.sort()
print(my_list)
my_list.sort(reverse=True)
print(my_list)

[3, 5, 5, 7, 9]
[9, 7, 5, 5, 3]

#### 5.clear() method
removing everything from a list, equal to my_list = []

In [31]:
my_list.clear()
print(my_list)

[]

#### 6.remove() method
Removes the first item with the specified value

In [32]:
my_list = [3, 8, 5, 7, 5]
my_list.remove(7)
print(my_list)

[3, 8, 5, 5]

#### 7.pop() method
Removes the element at the specified position

In [33]:
my_list.pop(0)
print(my_list)

[8, 5, 5]

#### 8.copy() method
Returns a copy of the list

In [37]:
my_list_copy = my_list.copy()
print(my_list_copy)

[8, 5, 5]

what is the problem with my_other_list = my_list?

In [38]:
my_other_list = my_list
print(my_other_list)

[8, 5, 5]

In [39]:
my_list.pop(0)
print(my_list)
print(my_list_copy)
print(my_other_list)

[5, 5]
[8, 5, 5]
[5, 5]

In [40]:
my_other_list.pop(0)
print(my_list)
print(my_list_copy)
print(my_other_list)

[5]
[8, 5, 5]
[5]

#### 9.insert() method
Adds an element at the specified position, displacing the following members with 1 position

In [49]:
my_list = [3, 8, 5, 7, 5]
my_list.insert(3, 1)
print(my_list)

[3, 8, 5, 1, 7, 5]

#### 10.append() method
Adds an element at the end of the list

In [50]:
my_list.append(6)
print(my_list)

[3, 8, 5, 1, 7, 5, 6]

#### 11.extend() method
dd the elements of a list (or any iterable), to the end of the current list

In [51]:
another_list = [2, 6, 8]
my_list.extend(another_list)
print(my_list)

[3, 8, 5, 1, 7, 5, 6, 2, 6, 8]

In [52]:
another_tuple = (2, 6, 8)
my_list.extend(another_tuple)
print(my_list)

[3, 8, 5, 1, 7, 5, 6, 2, 6, 8, 2, 6, 8]

#### Set
Set is an unordered collection of unique objects.

In [54]:
my_set = {3, 8, 5, 7, 5}
print(my_set)

{8, 3, 5, 7}

In [55]:
print(my_set)

{8, 3, 5, 7}

### Set methods
.add()	- Adds an element to the set

.clear()	- Removes all the elements from the set

.copy()	- Returns a copy of the set

.difference()	- Returns a set containing the difference between two or more sets

.difference_update()	- Removes the items in this set that are also included in another, specified set

.discard()	- Remove the specified item

.intersection()	- Returns a set, that is the intersection of two other sets

.intersection_update()	- Removes the items in this set that are not present in other, specified set(s)

.isdisjoint()	- Returns whether two sets have a intersection or not

.issubset()	- Returns whether another set contains this set or not

.issuperset()	- Returns whether this set contains another set or not

.pop()	- Removes an element from the set

.remove()	- Removes the specified element

.symmetric_difference()	- Returns a set with the symmetric differences of two sets

.symmetric_difference_update()	- Inserts the symmetric differences from this set and another

.union()	- Return a set containing the union of sets

.update()	- Update the set with the union of this set and others

In [56]:
set_a = {1,2,3,4,5}
set_b = {4,5,6,7,8}
print(set_a.union(set_b))
print(set_a.intersection(set_b))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}

## Converting tuple to list to set 
we can convert any tuple or set to list with **list()** function

we can convert any list or set to tuple with **tuple()** function

we can convert any tuple or list to set with **set()** function

In [58]:
my_list = [3, 8, 5, 7, 5]
my_tuple = tuple(my_list)
print(my_tuple)
my_set =set(my_list)
print(my_set)

(3, 8, 5, 7, 5)
{8, 3, 5, 7}

this functions can be nested

In [60]:
my_unique_list = list(set(my_list))
print(my_unique_list)

[8, 3, 5, 7]

### Checking if something is in a list, set, tuple

In [127]:
print(3 in my_set)
print(9 in my_set)
print(3 in my_list)
print(9 in my_tuple)

True
False
True
False

## Dictionary
dictionary is a collection which is unordered, changeable and indexed as a key-value pair

In [119]:
my_dict = {1: 2.3, 
          2: 8.6}
print(my_dict[2])

8.6

In [120]:
print(my_dict[3])

KeyError: 3

In [128]:
print(my_dict.keys())
print(my_dict.values())
print(1 in my_dict.keys())
print(2.3 in my_dict.values())

dict_keys([1, 2])
dict_values([2.3, 8.6])
True
True

## Strings
strings are ordered sequence of characters, strings are unchangable

In [122]:
print(my_dict.get(2))

8.6

In [72]:
my_string = 'this is string'
other_string = "this is string as well"
multilane_string = '''this is
a multi lane 
string'''
print(my_string)
print(other_string)
print(multilane_string)

this is string
this is string as well
this is
a multi lane
string

In [69]:
my_string = 'this "word" is in quotes'
my_other_string = "This is Maria's book"
print(my_string)
print(my_other_string)

this "word" is in quotes
This is Maria's book

In [70]:
my_string = "this \"word\" is in quotes"
my_other_string = 'This is Maria\'s book'
print(my_string)
print(my_other_string)

this "word" is in quotes
This is Maria's book

In [114]:
my_number = 9
my_string = '9'
print(my_number+1)
print(my_string+1)

10

TypeError: must be str, not int

In [115]:
print(my_string+'1')
print(int(my_string)+1)
print(my_number+int(1))

91
10
10

Accesing list members is exactly the same as with lists and tuples

In [66]:
print(other_string[0])
print(other_string[::-1])

t
llew sa gnirts si siht

## String methods

.capitalize()	- Converts the first character to upper case

.casefold()	- Converts string into lower case

.center()	- Returns a centered string

.count()	- Returns the number of times a specified value occurs in a string

.encode()	- Returns an encoded version of the string

.endswith()	- Returns true if the string ends with the specified value

.expandtabs()	- Sets the tab size of the string

.find()	- Searches the string for a specified value and returns the position of where it was found

.format()	- Formats specified values in a string

.format_map()	- Formats specified values in a string

.index()	- Searches the string for a specified value and returns the position of where it was found

.isalnum()	- Returns True if all characters in the string are alphanumeric

.isalpha()	- Returns True if all characters in the string are in the alphabet

.isdecimal()	- Returns True if all characters in the string are decimals

.isdigit()	- Returns True if all characters in the string are digits

.isidentifier()	- Returns True if the string is an identifier

.islower()	- Returns True if all characters in the string are lower case

.isnumeric()	- Returns True if all characters in the string are numeric

.isprintable()	- Returns True if all characters in the string are printable

.isspace()	- Returns True if all characters in the string are whitespaces

.istitle()	- Returns True if the string follows the rules of a title

.isupper()	- Returns True if all characters in the string are upper case

.join()	- Joins the elements of an iterable to the end of the string

.ljust()	- Returns a left justified version of the string

.lower()	- Converts a string into lower case

.lstrip()	- Returns a left trim version of the string

.maketrans()	- Returns a translation table to be used in translations

.partition()	- Returns a tuple where the string is parted into three parts

.replace()	- Returns a string where a specified value is replaced with a specified value

.rfind()	- Searches the string for a specified value and returns the last position of where it was found

.rindex()	- Searches the string for a specified value and returns the last position of where it was found

.rjust()	- Returns a right justified version of the string

.rpartition()	- Returns a tuple where the string is parted into three parts

.rsplit()	- Splits the string at the specified separator, and returns a list

.rstrip()	- Returns a right trim version of the string

.split()	- Splits the string at the specified separator, and returns a list

.splitlines()	- Splits the string at line breaks and returns a list

.startswith()	- Returns true if the string starts with the specified value

.strip()	- Returns a trimmed version of the string

.swapcase()	- Swaps cases, lower case becomes upper case and vice versa

.title()	- Converts the first character of each word to upper case

.translate()	- Returns a translated string

.upper()	- Converts a string into upper case

.zfill()	- Fills the string with a specified number of 0 values at the beginning

In [77]:
my_string = ' string with spaces '
print(my_string)
my_stripped_string = my_string.strip()
print(my_stripped_string)

 string with spaces
string with spaces

In [79]:
print('ABC' == 'ABC')
print('ABC' == ' ABC ')

True
False

In [89]:
list_of_words = my_string.split()
print(list_of_words)

['string', 'with', 'spaces']

In [92]:
text = 'id1, id2, id3, id4'
ids_list = text.split(', ')
print(ids_list)

['id1', 'id2', 'id3', 'id4']

In [94]:
new_text = ' / '.join(ids_list)
print(new_text)

id1 / id2 / id3 / id4

In [95]:
xml_text = 'this is <body>text</body> with xml tags'
xml_text.find('<body>')

8

In [100]:
xml_body = xml_text[xml_text.find('<body>')+len('<body>'):xml_text.find('</body>')]
print(xml_body)

text

### Other operations with strings

combinig (adding) strings

In [104]:
text = 'text1'+'text2'
print(text)

text1text2

In [106]:
text = 'text1'*4
print(text)

text1text1text1text1

row and formated string

In [108]:
file_location = 'C:\Users\U6047694\Documents\job\Python_Projects\file.txt'

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-108-29eb55ac8151>, line 1)

In [110]:
file_location = r'C:\Users\U6047694\Documents\job\Python_Projects\file.txt'
print(file_location)

C:\Users\U6047694\Documents\job\Python_Projects\file.txt

In [117]:
var1 = 5
var2 = 6
print(f'Var1 is: {var1}, var2 is: {var2} and the sum is: {var1+var2}')
# this is the same as 
print('Var1 is: '+str(var1)+', var2 is: '+str(var2)+' and the sum is: '+str(var1+var2))

Var1 is: 5, var2 is: 6 and the sum is: 11
Var1 is: 5, var2 is: 6 and the sum is: 11

## Regular expressions in Python
The regular expressions in python are stored in separate package **re** this package should be imported in order to access its functionality (methods).
### Methods in re package
* re.search()	- Check if given pattern is present anywhere in input string. Output is a re.Match object, usable in conditional expressions
* re.fullmatch()	- ensures pattern matches the entire input string
* re.compile()	- Compile a pattern for reuse, outputs re.Pattern object
* re.sub()	- search and replace
* re.escape()	- automatically escape all metacharacters
* re.split()	- split a string based on RE text matched by the groups will be part of the output
* re.findall()	- returns all the matches as a list
* re.finditer()	- iterator with re.Match object for each match
* re.subn()	- gives tuple of modified string and number of substitutions

### re characters

'.' - Match any character except newline

'^' - Match the start of the string
'$' - Match the end of the string

'*' - Match 0 or more repetitions

'+' - Match 1 or more repetitions

'?' - Match 0 or 1 repetitions

### re set of characters

'[]' - Match a set of characters
'[a-z]' - Match any lowercase ASCII letter
[lower-upper]Match a set of characters from lower to upper
[^]Match characters NOT in a set

In [ ]:
import re